version: "3.9"

services:
  redis:
    image: redis:5
  celery:
    build: .
    container_name: 'celery'
    command: bash -c "celery -A CalendarAPI worker -l INFO "
    ports:
        - 5555:5555
    volumes:
      - .:/code
    links:
      - redis
    depends_on:
      - web
      - redis
    environment:
      - COMPOSE_HTTP_TIMEOUT=90
      - TZ=Europe/Moscow

  db:
    image: postgres
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    ports:
      - "5432"
  web:
    restart: always
    build: .
    command: bash -c "python manage.py makemigrations &&
                    python manage.py migrate &&
                    python manage.py createsuperuser --no-input || true &&
                    python manage.py runserver 0.0.0.0:80"
    volumes:
      - .:/code
    ports:
      - "80:80"
    depends_on:
      - db
    environment:
      - DJANGO_SUPERUSER_PASSWORD=adminAdm1n
      - DJANGO_SUPERUSER_EMAIL=admin@admin.com
      - EMAIL_PASS=1415612534GGGdfsdntFGHHSREFV377
      - TZ=Europe/Moscow

networks:
  rabbitmq_go_net:
    driver: bridge
